<h2>Sign Up</h2>
<% if flash[:errors] %>
<div class="errors">
<% flash[:errors].each do |error| %>
  <div class="error"><%= error %></div>
<% end %>
</div>
<% end %>
<%= form_with url: users_path, model: @user do |form| %>
<%= label_tag(:name, "Name: ") %> <%= form.text_field :name %>
<%= label_tag(:email, "Email: ") %> <%= form.text_field :email %>
<%= label_tag(:password, "Password: ") %> <%= form.password_field :password %>
<%= label_tag(:password_confirmation, "Password Again: ") %> <%= form.password_field :password_confirmation %>
<%= submit_tag("Sign Up") %>
<% end %>
