<h2>New Post</h2>
<% if flash[:errors] %>
<div class="errors">
<% flash[:errors].each do |error| %>
  <div class="error"><%= error %></div>
<% end %>
</div>
<% end %>
<%= form_with url: posts_path, model: @post do |form| %>

Author: <%= controller.current_user.name %><br/>
<%= text_area :post, :content %><br/>
<%= submit_tag("Publish") %>
<% end %>
